{% extends "left_sidebar.html" %}
{% block main_container %}
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Variable Data Number Generator</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4>File Created</h4>
                                <dl class="dl-horizontal">
                                <dt>Link to Download File</dt>
                                 <dd><a href=http://100.126.1.111:8000/static/files/{{ name }} target="_blank">{{ name }}</a></dd>
                                <dt>Number of Pages</dt>
                                 <dd>{{ numPages }}</dd>
                                <dt>Prints per Page</dt>
                                 <dd>{{ printsPerPage }}</dd>
                                <dt>Starting Number</dt>
                                 <dd>{{ startNumber }}</dd>
                                <dt>Ending Number</dt>
                                 <dd>{{ endNumber }}</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}

