{% extends "left_sidebar.html" %}
{% block main_container %}
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Foiling Stock</h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                       {{ paper }}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Foiling Stock</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Code</th>
                                                <th>Brand</th>
                                                <th>Type</th>
                                                <th>Size</th>
                                                <th>Weight</th>
                                                <th>Colour</th>
                                                <th>QTY</th>
                                                <th>Cost</th>
                                                <th>Cost/Sheet</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for item in results %}
                                            <tr>
                                               <td>{{ item.0 }}</td>
                                               <td>{{ item.1 }}</td>
                                               <td>{{ item.2 }}</td>
                                               <td>{{ item.3 }}</td>
                                               <td>{{ item.4 }}</td>
                                               <td>{{ item.5 }}</td>
                                               <td>{{ item.6 }}</td>
                                               <td>{{ item.7 }}</td>
                                               <td>£{{'%0.2f'|format(item.7 / item.7|float)}}</td>
                                               <td><a href="/foiling/edit/{{ item.1 }}">Edit</a></td>
                                            </tr>
                                            {% endfor %} 
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <div class="card-body">
                                <a href="/foiling/add"><button type="button" class="btn btn-primary">Add Stock</button></a>
                                </div>
                        </div>
                    </div>
                </div>
{% endblock %}

