{% extends "left_sidebar.html" %}
{% block main_container %}
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Estimated Job Cost : £{{'%0.2f'|format(costs|float) }} </h4>
                        <div class="ms-auto text-end">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                       {{ paper }}
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Running Costs</h5>
                                <div class="table-responsive">
                                    <table id="zero_config" class="table table-striped table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Cost Description</th>
                                                <th>Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                               <td>Paper </td>
                                               <td>£{{ '%0.2f'|format(paper_Costs|float) }}</td>
                                            </tr>
                                            <tr>
                                               <td>Printing (Impressions + 5%: {{ printCount }})</td>
                                               <td>£{{ '%0.2f'|format(printFinish_Costs|float) }}</td>
                                            </tr>
                                            <tr>
                                               <td>Numbering </td>
                                               <td>£{{ '%0.2f'|format(numbering_Costs|float) }}</td>
                                            </tr>
                                            <tr>
                                               <td>Laminating </td>
                                               <td>£{{ '%0.2f'|format(laminating_Costs|float) }}</td>
                                            </tr>
                                            <tr>
                                               <td>Foiling</td>
                                               <td>£{{ '%0.2f'|format(foiling_Costs|float) }}</td>
                                            </tr>
                                            <tr>
                                               <td>Creasing/Perforating</td>
                                               <td>£{{ '%0.2f'|format(finishCosts|float) }}</td>
                                            </tr>
                                            <tr>
                                               <td>Design</td>
                                               <td>£{{ '%0.2f'|format(design_Costs|float) }}</td>
                                            </tr>
                                            <tr>
                                               <td>General Overheads ({{ time }} mins)</td>
                                               <td>£{{ '%0.2f'|format(overhead_Costs|float) }}</td>
                                            </tr>
                                            <tr>
                                               <td>Recommended Price with {{ markup }}% markup</td>
                                               <td>£{{ '%0.2f'|format((costs * (1 + markup/100))|float) }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                                <div class="card-body">
                                <a href="/costs/add"><button type="button" class="btn btn-primary">Add Cost</button></a>
                                </div>
                        </div>
                    </div>
                </div>
{% endblock %}

